div{
  margin: 1%;
  height: 200%
}

#liveCalls{
  width: 20%;
  border: 1px black solid;
  background-color: CornflowerBlue;
  float: left
}

#numLive{
  background-color: CornflowerBlue
}

#holdingCalls{
  width: 20%;
  border: 1px black solid;
  background-color: red;
  float: left
}

#numHolding{
  background-color: red
}

#numCompleted{
  background-color: black;
  color: white
}

#numLost{
  background-color: DarkOrange;
}

.callStatBox{
  padding: 0.5%
}

#opPool{
  width: 50%;
  border: 1px black solid;
  float: left
}

.call{
  background-color: black;
  color: Chartreuse;
  padding: 1%;
  margin: 2%
}

.op{
  border: 1px black solid;
  padding: 1%;
  margin: 2%;
  width: 40%;
  float: left
}

.active{
  background-color: green
}

.inactive{}

h1{
  text-align: center
}

#speedControls.button{
  width:
}

.panel{
  float: clear
}

.clientId{
  text-align: right
}
